KERNEL_ARCH_CFLAGS = -mcmodel=large -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -fno-stack-protector -fno-exceptions -fPIC


KERNEL_ARCH_CPPFLAGS =
KERNEL_ARCH_LDFLAGS =
KERNEL_ARCH_LIBS =

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/gdt/gdt_init.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/limine/limine_requests.o \
$(ARCHDIR)/drivers/tty_font.o \
$(ARCHDIR)/drivers/framebuffer.o \
$(ARCHDIR)/interrupts/isr_stubs.o \
$(ARCHDIR)/interrupts/isr_handler.o \
$(ARCHDIR)/interrupt_controllers/pic.o \
$(ARCHDIR)/interrupt_controllers/apic.o \
$(ARCHDIR)/idt/idt.o \
$(ARCHDIR)/idt/idt_init.o \
$(ARCHDIR)/memory/vmm.o \
$(ARCHDIR)/memory/pmm.o \
$(ARCHDIR)/memory/buddy_allocator.o \
$(ARCHDIR)/memory/slab_allocator.o \
$(ARCHDIR)/smp/smp.o \
$(ARCHDIR)/timer/timer.o \
$(ARCHDIR)/tasks/tasks.o \
$(ARCHDIR)/tasks/task_manager.o \
$(ARCHDIR)/scheduler/scheduler.o \
$(ARCHDIR)/scheduler/context_switch.o \
