KERNEL_ARCH_CFLAGS = -mcmodel=large -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -fno-stack-protector -fno-exceptions -fPIC


KERNEL_ARCH_CPPFLAGS =
KERNEL_ARCH_LDFLAGS =
KERNEL_ARCH_LIBS =

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/boot/limine_requests.o \
$(ARCHDIR)/drivers/tty_font.o \
$(ARCHDIR)/drivers/framebuffer.o \

#$(ARCHDIR)/gdt/gdt.o \
#$(ARCHDIR)/gdt/gdt_init.o \
#$(ARCHDIR)/interrupts/isr_stubs.o \
#$(ARCHDIR)/interrupts/isr_handler.o \
#$(ARCHDIR)/pic/pic.o \
#$(ARCHDIR)/idt/idt.o \
#$(ARCHDIR)/idt/idt_init.o \
#$(ARCHDIR)/memory/pma.o \
